<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DES Solutions</title>
    <link rel="icon" href="/static/home/deslogo.png" type="image/icon type">
    <!-- Add your CSS links here -->
</head>
<body>
    <header>
        <a href="{%url 'home'%}">Home</a>&nbsp;|&nbsp;
        <a href="{%url 'about'%}">About Us</a>&nbsp;|&nbsp;
        <a href="{%url 'contact'%}">Contact Us</a><br/>
        Hello {{user.username}} | 
       {% if user.is_authenticated %}  
            <a href="{% url 'logout' %}">Log Out</a>
        {% else %}        
            <a href="{% url 'login' %}">login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </header>    
{%block main_content%}
{%endblock %}
    <footer>
        &copy; DES Solutions Inc., All Rights Reserved.<br />
    </footer>
</body>
</html>
