<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <title>DES Solutions</title>
    <link rel="icon" href="/static/home/deslogo.png" type="image/icon type">
    <link rel= "stylesheet" type="text/css" href ="/static/home/index.css"> 
</head>
<body class="index-body">
  <div class="home_container">
    <header class="header">
      <div class="nav">
        <div class="logo">
          <img src="/static/home/dessoln.png" alt="Logo of India Waste Management" />
        </div>
        <div class="nav-links">
            <a href="{%url 'home'%}">Home</a>&nbsp;&nbsp;
            <a href="{%url 'about'%}">About Us</a>&nbsp;&nbsp;
            <a href="{%url 'contact'%}">Contact Us</a>&nbsp;&nbsp;
            <a href="{%url 'articlepage'%}">Article</a>&nbsp;&nbsp;
            <a href="{%url 'forumpost'%}">Forumpost</a>&nbsp;&nbsp;
            <a href="{%url 'feedbackform'%}">Feedback</a>&nbsp;&nbsp;
            {% if user.is_authenticated and  user.is_staff %}
            <a href="{%url 'feedbackview'%}"> Reply to Feedback</a>&nbsp;&nbsp;
            {%endif%} 
            {% if user.is_authenticated %}
                Welcome Back, {{ user.username }}&nbsp;&nbsp;
                <a href="{% url 'logout' %}">Log Out</a>&nbsp;&nbsp;
            {% else %}
                <a href="{% url 'login' %}">Login</a>&nbsp;&nbsp;
                <a href="{% url 'register' %}">Register</a>&nbsp;&nbsp;
            {% endif %}
        </div>
      </div>
    </header>
    <div class="desagent-homelink" id="chatbot-container">
      <a href="{% url 'chatbot' %}" id="chatbot-link">
          <img src="{% static 'desagent/chatbot.png'%}" alt="Chatbot" id="chatbot-icon" width="100" height="100">
          <span id="chatbot-text"></span>
      </a>
    </div>  
    {%block main_content%}
  
    {%endblock %}
    
  
    </script>
    <footer class="footer">
      <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
      </div>
      <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-facebook"></ion-icon>
          </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-twitter"></ion-icon>
          </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-instagram"></ion-icon>
          </a></li>
      </ul>
      <p class="liop"><B> &copy; DES Solutions Inc. | Contact Us at : +91 4237653699 | info@desservice.com | All Rights Reserved</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>window.addEventListener('scroll', function() {
      var chatbotContainer = document.getElementById('chatbot-container');
      var scrollPosition = window.scrollY;
  
      if (scrollPosition > 100) { // Adjust this value as needed
          chatbotContainer.classList.add('hide-chatbot');
      } else {
          chatbotContainer.classList.remove('hide-chatbot');
      }
  });</script>
  </div>
  </body>
</html>
