{% extends "index.html"%}
{%block main_content%}
{%load static%}
<title>Contact Us</title>
<style>
  .contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px; /* Add space at the bottom */
  }
  
  .contact-container h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-container p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .contact-container a {
    color: #007bff; /* Link color */
    text-decoration: none;
  }
  
  .contact-container a:hover {
    text-decoration: underline;
  }
</style>
  <div class="contact-container">
    <h1>Contact Us</h1>
    <p>We would love to hear from you! Please use the following information to get in touch with us:</p>
    <p>Email: <a href="mailto:rubhosale21@gmail.com">System  Administrator</a></p>
    <p>Phone: +91 4237653699 </p>
    <p>Address: India</p>
    <p>Feel free to reach out to us with any questions, comments, or concerns. We look forward to hearing from you!</p>
  </div>
{% endblock %}