{% extends "index.html"%}
{%block main_content%}
{%load static%}
  <title>Contact Us</title>
<style>
    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
  
      p {
        margin-bottom: 1rem;
      }
  
      a {
        color: #007bff;
        text-decoration: none;
      }
  
      a:hover {
        text-decoration: underline;
      }
</style>
  <div class="container">
    <h1>Contact Us</h1>
    <p>We would love to hear from you! Please use the following information to get in touch with us:</p>
    <p>Email: <a href="mailto:rubhosale21@gmail.com">System  Administrator</a></p>
    <p>Phone: +91 4237653699 </p>
    <p>Address: India</p>
    <p>Feel free to reach out to us with any questions, comments, or concerns. We look forward to hearing from you!</p>
  </div>
{% endblock %}