{% extends "index.html"%}
{%block main_content%}
{%load static%}
<style>

   *{
    position: relative;
    align: center;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
   }
   .home-title{
    font-size: 30px;
    text-align: center;
    margin: 2% 3% 2% 3%;
   }
   .ind-wmimg{
    height: 325px!important;
    width: 560px;
   }
   .subtitle-sing{
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    margin: 2% 3% 2% 3%;

   }
   .subtitle-ind{
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    margin: 2% 3% 2% 3%;
   }
   .india-lesson{
    font-size: 20px;
    text-align: center;
   }
   .singapore-lesson{
    font-size: 20px;
    text-align: center;
   }
</style>

<div class="ind-container">
    <h2 class="home-title">Welcome to DES Solutions</h2><hr>
    <b><p class="subtitle-ind">India's website for how it manage waste and recycled it</P></b><br>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/tZEM5K72aVs?si=pKvdX8RM2YvjV86i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br><br><br>
    <img class="ind-wmimg" src="/static/home/indwm.jpg" alt="India Des Solution Image" height="660" width="325"><br><br>
    <p  class="india-lesson">here are the lesson learned from our journey in managing waste in India</P><br><hr>
</div>

<div class="sing-container">
    <b><p class="subtitle-sing">Singapore's website for how it manage waste and recycled it</P></b><br>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/r-q5V6LDxEY?si=ZObHusF8pmTvdyw8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br><br><br>
    <img class="ind-wmimg" src="/static/home/swm.png" alt="Singapore Des Solution Image" height="660" width="325"><br><br>
    <p class="singapore-lesson">here are the lesson  learned from our journey in managing waste in Singapore</P><br><br><br>
</div>
{% endblock %}
