{%extends 'index.html'%}
{%block main_content%}
<style>
    .contact-us-for-powerbi{
        font-weight: bold;
        text-align:center;
        color: white;
        font-style: oblique;
        font-family: "EB Garamond";
    }      
</style>
<div class="inpdfformat">
<h2>PowerBI Manunal in PDF format</h2>

<a href="{%url 'open_powerbi'%}">
    <a href="static/home/DESSoln.pdf" type="application/pdf" width="100%" height="600px">CLick here</a>
  </a>
<p class="contact-us-for-powerbi">Want to know more <a href={%url 'contact'%}>Contact Us</a></p>
</div>
{%endblock%}