{% extends 'index.html' %}
{% block main_content %}
<style>
  /* Chat Container */
.chat-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #007bff; /* Border color */
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.2); /* Shadow color */
  background-color: #fff; /* Background color */
}

/* Message Form */
.message-form {
  margin-top: 20px;
}

.message-input {
  width: calc(100% - 80px);
  padding: 10px;
  border: 2px solid #007bff; /* Border color */
  border-radius: 5px;
}

.btn-send {
  width: 80px;
  padding: 10px;
  border: none;
  background-color: #007bff; /* Button color */
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* Messages List */
.messages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.message {
  margin-bottom: 10px;
}

.message-text {
  display: flex;
}

.message-sender {
  width: 100px;
  text-align: right;
  color: #007bff; /* Sender color */
}

.message-content {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333; /* Text color */
}

.message.sent .message-content {
  background-color: #007bff; /* Sent message color */
  color: #fff;
}

.message.received .message-content {
  background-color: #d9edf7; /* Received message color */
  color: #333;
}

</style>
<div class="chat-container">
    <div>
      <div>Chat</div>
      {% if user.is_authenticated %}
      <div ><b>Welcome, {{user.username}}</b>   <a style="color: red;" href="logout">Logout</a></div>
      {% else %}
      <div<a style="color: red" href="login">Login</a>   <a style="color: red;" href="register">Register</a></div>
      {% endif %}
      <div>
        
        <ul class="list-unstyled messages-list">
          <li class="message received">
            <div class="message-text">
              <div class="message-sender">
                <b>DES Chatbot</b>
              </div>
              <div class="message-content">
                Hi {{user.username}}, I am DES Chatbot, you can ask me anything.
              </div>
            </div>
          </li>
  
          {% for chat in chats %}
            {% if chat.cm_user == request.user %}
  
          <li class="message sent">
            <div class="message-text">
              <div class="message-sender">
                <b>You {{user.username}}</b>
              </div>
              <div class="message-content">
                {{chat.cm_message}}
              </div>
            </div>
          </li>
  
          <li class="message received">
            <div class="message-text">
              <div class="message-sender">
                <b>DES Chatbot</b>
              </div>
              <div class="message-content">
                {{chat.cm_response}}
              </div>
            </div>
          </li>
  
            {% endif %}
          {% endfor %}
          
        </ul>
        
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
    <form class="message-form">
      {%csrf_token%}
      <div class="input-group">
        <input type="text" name="cm_message" class="form-control message-input" placeholder="Type your message...">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary btn-send">Send</button>
        </div>
      </div>
    </form>
</div>
<script>
    const messagesList = document.querySelector('.messages-list');
    const messageForm = document.querySelector('.message-form');
    const messageInput = document.querySelector('.message-input');
  
    messageForm.addEventListener('submit', (event) => {
      event.preventDefault();
  
      const cm_message = messageInput.value.trim();
      if (cm_message.length === 0) {
        return;
      }
  
      const messageItem = document.createElement('li');
      messageItem.classList.add('cm_message', 'sent');
      messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                  <b>You</b>
              </div>
              <div class="message-content">
                  ${cm_message}
              </div>
          </div>`;
      messagesList.appendChild(messageItem);
  
      messageInput.value = '';
  
      fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams({
          'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          'cm_message': cm_message
        })
      })
       .then(cm_response => cm_response.json())
       .then(data => {
          const cm_response = data.cm_response;
          const messageItem = document.createElement('li');
          messageItem.classList.add('cm_message', 'received');
          messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                  ${cm_response}
              </div>
          </div>
            `;
          messagesList.appendChild(messageItem);
        });
    });
  
</script> 
{% endblock %}
