{% extends "index.html"%}
{%block main_content%}
{%load static%}
<style>
  .forum-post-heading{
    color:white;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
  form{
    margin: 0 auto;
    width:45%;  box-sizing: border-box;
    resize: vertical; /* Allow vertical resizing */
    white-space: pre-wrap; /* Preserve spaces and line breaks */
    background-color: #fff;
    border-radius: 8px;
    opacity: 0.9;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    font-style: oblique;
    font-family: "EB Garamond"; 
  }
  input[type=text], textarea{ 
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    resize: none;
  }
  button[type=submit], button[type=reset]{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;

  }
</style>
<body>
<h1 class="forum-post-heading">Create Forum Post</h1>
<form method="post" action="{% url 'create_post'%}" >
  {% csrf_token %}
  <label for="fp_title">Title:</label><br>
  <input type="text" id="fp_title" name="fp_title" required><br>
  <label for="fp_content">Content:</label><br>
  <textarea id="fp_content" name="fp_content" required></textarea><br>
  <button type="submit">Submit</button>
</form>
{% endblock %}