{% extends "index.html"%}
{%block main_content%}
{%load static%}
<style>
    .fb-Submitted {
        text-align: center;
        margin-top: 50px;
        padding: 50px;
        border-radius: 10px;
        color: #E3DAC9;
    }    
    
    .fb-01 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .fb-Submitted p {
        font-size: 18px;
        color: white;
        line-height: 1;
        padding:17px;
    }
.fb-Submitted p:last-child {
        margin-bottom: 0;
    }
</style>    
<body>
<div class="fb-Submitted">
    <h1 class="fb-01">Feedback</h1>
    <p>Feedback Submitted Successfully!</p>
    <p>Thank you for your feedback.</p>
</div>
</body>
{%endblock main_content%}