{% extends "index.html"%}
{%block main_content%}
{%load static%}
<style>
    /* Feedback Form Styles */
.feedbackform_content {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.fb-form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.feedbackform_content label {
    font-weight: bold;
}

.feedbackform_content input[type="text"],
.feedbackform_content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.feedbackform_content textarea {
    height: 150px;
}

.feedbackform_content button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.feedbackform_content button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Feedback Link Styles */
.feedback-link {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.feedback-link:hover {
    text-decoration: underline;
}

</style>
{% if user.is_authenticated and not user.is_staff %}
<form method="POST" enctype="multipart/form-data" class="feedbackform_content">
    {% csrf_token %}
    <h2 class="fb-form-title">Feedback Form</h2>
    <label for="fb_uname ">UserName : </label><br>
    <input type="text" id="fb_uname" name="fb_uname" required><br><br>

    <label for="fb_email">Email : </label><br>
    <input type="text" id="fb_email" name="fb_email"required><br><br>

    <label for="fb_content">Content:</label><br>
    <textarea id="content" name="fb_content" rows="10" cols="50" required></textarea><br><br>

    <button type="submit">Submit Feedback</button>
</form>
{%endif%}
{% endblock %}
